/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @font-face code */

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-LightItalic.eot');
	src: url('fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-LightItalic.woff') format('woff'),
		url('fonts/Raleway-LightItalic.ttf') format('truetype'),
		url('fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Medium.eot');
	src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Medium.woff') format('woff'),
		url('fonts/Raleway-Medium.ttf') format('truetype'),
		url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-MediumItalic.eot');
	src: url('fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-MediumItalic.woff') format('woff'),
		url('fonts/Raleway-MediumItalic.ttf') format('truetype'),
		url('fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Light.eot');
	src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Light.woff') format('woff'),
		url('fonts/Raleway-Light.ttf') format('truetype'),
		url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-Regular.eot');
	src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
		url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
		url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-Bold.eot');
	src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
		url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
		url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-BoldItalic.eot');
	src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
		url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
		url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-Italic.eot');
	src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
		url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
		url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

/* COLOURS 

#2d2d2d - body font colour
#969696 - light grey
#e2574c - orange brand colour (links, headings, buttons)
#b64036 - link hover state
#d7d7d7 - light grey border colour
#242424 - dark grey background, footer

*/

/* TEXT STYLES */

body {
	font-family: Raleway, Arial, sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #2d2d2d;
}

p {
	font-size: 14px;
}

.main-container {
	width: 100%;
	height: auto;
}

header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 12px;
}

.logo {
	width: 50%;
}

.logo img {
	width: 120px;
}

.cart {
	width: 50%;
	display: flex;
	justify-content: flex-end;

}

.cart img {
	width: 50px;
	height: 50px;
}

hr.rule {
	border-top: 0.016rem solid #d7d7d7;
	width: 100%;
}

/* NAVIGATION BAR */

.navigation {
	text-align: center;
	font-size: 0.9rem;
	display: flex;
	justify-content: space-between;
	margin: 5px;
}

.navigation li {
	list-style: none;
	display: inline;
	text-transform: uppercase;
	padding: 0px 14px 0px 14px;
	text-align: center;
}

.navigation a {
	text-decoration: none;
	color: #e2574c;
}

.navigation a:hover {
	color: #b64036
}

/* HERO-IMAGE */

.hero-image {
	width: 100%;
	height: 400px;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	background:
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/banner-girl.png) no-repeat center,
	url(images/flower-bkgd.jpg) center;
	background-size: cover, contain;
}

.hero-image h3 {
	text-transform: uppercase;
	color: white;
	font-size: 1.2rem;
	padding-bottom: 20px;
	text-shadow: 1px 1px 2px #969696;
}

.hero-image h1 {
	font-family: 'Playfair Display', Georgia, serif;
  	font-weight: normal;
	font-style: normal;
  	font-size: 2.2rem;
  	color: white;
	text-shadow: 1px 1px 2px #969696;
	padding: 0px 40px 0px 40px;
}

/* HAND-CRAFTED STYLES */

.styles {
	height: 260px;
	background-color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 0px 20px 0px 20px;
}

.styles h1 {
	font-size: 2.1rem;
	font-family: 'Playfair Display', Georgia, serif;
  	font-weight: normal;
	font-style: italic;
	padding-bottom: 20px;
}

.styles span {
	font-family: 'Playfair Display', Georgia, serif;
  	font-weight: bold;
	font-style: normal;
}

.styles p {
	font-family: Raleway, Arial, sans-serif;
  font-weight: 300;
	font-style: normal;
  margin: 0px auto;
  line-height: 2rem;
	font-size: 1rem;
}

/* PRODUCT GALLERY */

.products {
	max-width: 100%;
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}

.products div {
	height: 200px;
	display: flex;
	align-items: center;
justify-content: center;
color: white;
font-size: 1.4rem;
text-shadow: 1px 1px 2px #969696;
}

.products a {
	text-decoration: none;
	color: white;
}

.mens, .womens {
	max-width: 100%;
	height: 200px;
	flex: 1 0 100%;
	margin: auto;
	border: 4px solid white;
	box-sizing: border-box;
	border-left: 0px;
	border-right: 0px;
}

.mens { 
	background: 
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/mens-category.jpg) no-repeat;
	background-size: cover;
}

.womens {
	background: 
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/womens-category.jpg) no-repeat;
	background-size: cover;
}

.trends, .sale {
max-width: 50%;
	height: 210px;
	flex: 1 0 100%;
	margin: auto;
	border: 4px solid white;
	border-left: 0px;
	box-sizing: border-box;
}

.trends { 
	background: 
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/trends-category.jpg) no-repeat;
	background-size: cover;
	
}

.glasses, .bags {
	max-width: 50%;
	height: 200px;
	flex: 1 0 100%;
	margin: auto;
	border: 4px solid white;
	border-right: 0px;
	box-sizing: border-box;
}

.glasses { 
	background: 
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/glasses-category.jpg) no-repeat;
	background-size: cover;
	
}

.sale { 
	background: 
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/sale-category.jpg) no-repeat;
	background-size: cover;
}

.bags {
	background: 
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/bags-category.jpg) no-repeat;
	background-size: cover;
}

MOST-LOVED PRODUCTS 

.most-loved {
height: 680px;
padding-top: 100px;
background-color: white;
}


* { box-sizing: border-box; }

.carousel {
  background-color: white;
}
.carousel-cell {
  height: 510px;
  counter-increment: gallery-cell;
  padding-top: 10px;
}

.carousel img {
	/*width: 80%;
	margin-bottom: 20px;*/
	
}

.most-loved li {
	display: inline;
	text-align: center;
}

.most-loved h1 {
	font-size: 2.1rem;
	font-family: 'Playfair Display', Georgia, serif;
  	font-weight: normal;
	color: #2d2d2d;
	font-style: italic;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 60px;
}

.most-loved h2 {
	font-family: 'Playfair Display', Georgia, serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.3rem;
	color: #e2574c;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
}

.most-loved h3 {
	font-family: Raleway, Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #969696;
	font-size: 0.65rem;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
}

.most-loved p {
	font-family: Raleway, Arial, sans-serif;
	color: #969696;
	text-align: center;
}

.most-loved span {
	font-family: 'Playfair Display', Georgia, serif;
  	font-weight: bold;
	font-style: normal;
}

/* SIGN-UP FOR UPDATES */

.updates {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 335px;
	background-image: 
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/wave-bkgd.jpg);
	background-position: bottom;
	padding-left: 5px;
	padding-right: 5px;
	text-shadow: 1px 1px 2px #969696;
	margin-bottom: 8px;
	margin-top: 50px;
	box-sizing: border-box;
}

.updates h1 {
	font-size: 2rem;
	font-family: 'Playfair Display', Georgia, serif;
  	font-weight: normal;
	font-style: italic;
	padding-bottom: 40px;
	color: white;
}

.updates span {
	font-family: 'Playfair Display', Georgia, serif;
  	font-weight: bold;
	font-style: normal;
}

.updates p {
	font-family: Raleway, Arial, sans-serif;
	color: white;
	font-size: 1rem;
  	font-weight: 300;
	font-style: normal;
  	margin: 0px auto;
  	line-height: 2rem;
}

.subscription {
	color: white;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

footer {
	width: 100%;
  	height: 300px;
  	background-color: #242424;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: white;
	font-size: 0.8rem;
	font-family: 'Playfair Display', Georgia, serif;
  	font-weight: normal;
	font-style: normal;
	line-height: 1.5rem;
}

.footer div {
	width: 100%;
}

.powered-by {
	margin-top: 0rem;
	margin-bottom: 0.8rem;
}

.address {
	color: #969696;
	margin-top: 0rem;
	margin-bottom: 0.8rem;
}

.contact {
	margin-top: 0rem;
	margin-bottom: 0.8rem;
}

.social-media a {
	color: white;
}

.social-media {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 0px;
}


@media screen and (min-width: 600px) {
  /* half-width cells for larger devices */
  .carousel-cell { 
	  width: 50%;
 }

  .logo {
	  order: 1;
  }

  .cart {
	  order: 3;
  }

  .navigation {
	  order: 2;
  }

 hr.rule {
	  display: hidden;
 }

.hero-image {
	background:
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/banner-girl.png) no-repeat center,
	url(images/flower-bkgd.jpg) repeat-x center;
	background-size: cover, contain;
 }

}

@media screen and (min-width: 1240px) {
  /* half-width cells for larger devices */
  .carousel-cell { width: 25%; }

  header {
	  display: flex;
  }

  .logo {
	  order: 1;
  }

  .cart {
	  order: 3;
  }

  .navigation {
	  order: 2;
  }

 hr.rule {
	 display: none;
 }

 .hero-image {
	height: 550px;
	background:
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/banner-girl.png) no-repeat center,
	url(images/flower-bkgd.jpg) repeat-x center;
	background-size: contain;
 }

 .hero-image h3 {
	text-transform: uppercase;
	color: white;
	font-size: 1.2rem;
	padding-bottom: 20px;
	text-shadow: 1px 1px 2px #969696;
}

.hero-image h1 {
	font-family: 'Playfair Display', Georgia, serif;
  	font-weight: normal;
	font-style: normal;
  	font-size: 4rem;
  	color: white;
	text-shadow: 1px 1px 2px #969696;
	padding: 0px 40px 0px 40px;
}

.styles {
	padding: 0px 430px;
}

.styles {
	line-height: 2rem;
	font-size: 4rem;
}

.products {
	width: 100%;
	height: 645;
}

.mens, .womens {
	flex: 1 0 50%;
	height: 365px;
}

.trends, .glasses, .sale, .bags {
	flex: 1 0 25%;
	height: 365px;
}


}
